:root {
    background: linear-gradient(white,#f0e68c 55%);
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid #c9b508;
}

.container h1, .cont h1 {
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px/20%;
    border-top: 5px solid #f0e68c;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
}

.cont h1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

h1 a:hover {
    color:#f0e68c;
}

a {
    text-decoration: none;
    color: black;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container2 a {
    padding-top: 10px;
    border-bottom: 5px solid #c9b508;
}

.container2 a:hover {
    color:#c9b508
}

.container2 img {
    width: 40vh;
    height: fit-content;
    padding-top: 10px;
    border-radius: 15px/20%;
}

.container2 p {
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px/20%;
    border-top: 5px solid #c9b508;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
}

.cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    height: 90%;
    
    border-radius: 15px/20%;
    border-top: 5px solid #f0e68c;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.cont2 h1 {
    text-align: center;
    border-bottom: 1px solid black;
}

.cont2 img {
    width: 75%;
    border-radius: 15px/20%;
}

.cont2 hr {
    height: 5px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-radius: 15px/20%;
    background-color:  #c9b508;
}

.cont2 p, h3{
    display: flex;
    align-self: flex-start;
}
